# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Data files
*.csv
*.txt
*.zip
*.dat
data

# Compiled python
*.pyc

# Text deitrus
*.swp
